.container{
    text-align:-webkit-center;
}

header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

img{
    width:30px;
    height:40px;
    cursor: pointer;
}

.month{
    display:inline-block;
}

.year{
    display:inline-block;
}

table{
    border:1px solid black;
    border-collapse: collapse;

    /* width:100%; */
}

th, td{
    border: 1px solid black;
    text-align: center;
}

td{
    height:8rem;
    width:12rem;
}

p{
    margin:0;
}

.day-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}

.dim{
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    visibility: hidden;
}

.modal-container{
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background:white;
    width:400px;
    height:300px;
    border-radius: 1rem;
    z-index:1;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    visibility: hidden;
}