.month{
    display:inline-block;
}

.year{
    display:inline-block;
}

table{
    border:1px solid black;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding:3rem;
}

.dim{
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    visibility: hidden;
}

.modal-container{
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background:white;
    width:400px;
    height:300px;
    border-radius: 1rem;
    z-index:1;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    visibility: hidden;
}